.spacing {
    padding: 5px 0;
}

.spacing-10 {
    padding: 10px 0;
}

.hcenter {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.info {
    color:#53768f;
    font-size: 90%;
    padding-top: 5px;
}

.noborder {
    border: 0;
}

.wfp--btn--primary {
  &:hover {
      color: #fff;
  }  
}

.highlight-section {
    background: #eff2f5;
    padding: 10px 15px;
    margin-top: 10px;
}

h1 {
    .h1-normal{
        font-weight: normal;
        font-size: 70%;
    } 
}

.icon-md {
    height: 30px;
    width: 30px;
    .blue {
        fill: #0a6eb4;
    }
    .green {
        fill: #3f7e44;
    }
}
.icon-lg {
    height: 100px;
    width: 100px;
    .blue {
        fill: #0a6eb4;
    }
    .green {
        fill: #3f7e44;
    }
}

.list-bordered {
    li {
        padding: 10px 0;
    border-bottom: 1px solid #ECECEC;
    &:last-child {
        border-bottom: 0;
    }
    }
}